
body{
    background-color: cadetblue;
  background-blend-mode: screen;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: white;
}
li{
    font-size: 20px;
}
td{
    border: white 1px double;
    background-color: cadetblue;
}

input{
    width: 70%;
    font-size: 20px;
    margin: 4px;
    padding: 4px;
}

select{
    font-size: 22px;
    margin: 4px;
}

textarea{
}

button{
    background-color: white;
    color: black;
    border: 2px solid #4d9a9c;
    width: 40%;
    font-size: 20px;
    padding: 6px 15px 6px 15px;
    border-radius: unset;
    cursor: pointer;

}
button:hover{
    background-color: #4d9a9c;
    color: white;
    border: 2px solid darkgray;

}

img.header{
  height: 60px;
}

div.header{
  background-color: lightblue;
  padding-top: 5px;
    opacity: 0.8;
}

.form{
    box-shadow:  0 0 15px 15px darkgray;
    margin: auto;
    margin-top: 40px;
  width: 30%;
  padding: 10px;
    background-color: cadetblue;
  background-blend-mode: screen;
}
.search{
    width: 300px;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: lightblue;
   color: black;
   text-align: center;
    opacity: 0.7;
}