
body{
    background-color: cadetblue;
  background-blend-mode: screen;
}

input{
    font-size: 22px;
    margin: 4px;
}

button{
    font-size: 22px;
    padding: 6px;
}

img.header{
  height: 60px;
}

div.header{
  background-color: lightblue;
  padding-top: 5px;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: lightblue;
   color: black;
   text-align: center;
}