{% extends 'index.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h2>Здравей, {{ user.username }}!</h2>
        <p><a href="{% url 'logout' %}">Изход</a></p>
    {% else %}
        <h2>Вход</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Влез</button>
        </form>
        <p><a href="{% url 'register' %}">Регистрирай се</a></p>
    {% endif %}
{% endblock %}