{% include 'index.html' %}
{% block content %}

    <p>Търсене на части</p>
    <form class="search" method="get">
        <input type="text" name="q" value="{{ query }}">
        <button type="submit">Търси</button>
    </form>
    <table>
        <tr>
            <th>Име на част</th>
            <th>Линк към снимка</th>
            <th>Коментар</th>
            <th>Категория</th>
        </tr>
        {% for part in parts %}
        <tr>
            <td>{{ part.name }}</td>
            <td>{{ part.image_link }}</td>
            <td>{{ part.comment }}</td>
            <td>{{ part.category }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Няма намерени части</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
